.col {
    /*height: 21vh;*/
    /*width: 55vw;*/
    margin: 5px auto auto;
}

.card {
    display: flex;
    height: 21vh;
    width: 55vw;
    padding: 5px 5px 5px 5px;
}

._image {
    margin-left: auto;
    width: 50px;
    height: 50px;
}

.icon {
    margin-left: auto;
    width: 18px;
    height: 18px;
}
