._card{
    max-width: 150px;
    cursor: pointer;
    border: lightcyan;
}

._image{
    width: 150px;
   height: 150px;
}
.icon{
    max-height: 15px;
    max-width: 15px;
}
._add_product{
    max-width: 50px;
    max-height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
