.image{
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.box{
    margin-top: 65px;
    padding: 5px;
    /*box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(252, 252, 252);
}
.title{
    margin-right: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.attr{
    display: flex;
}
.price:hover{
    color: forestgreen;
    cursor: pointer;
}
.star{
    height: 16px;
    width: 16px;
}
